{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"rules": {
		"max-len": [
			"error",
			{
				"code": 200,
				"ignoreUrls": true
			}
		],
		"camelcase": "off"
	},
	"globals": {
		"jQuery": "readonly",
		"history": "readonly",
		"location": "readonly",
		"navigator": "readonly"
	}
}
