.container {
  width: 100%;
  max-width: 100%;
  padding-right: var(--gap-size);
  padding-left: var(--gap-size);
  margin: 0 auto;
  @media (max-width: 575px) {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    width: 720px;
  }
  
  @media (min-width: 992px) {
    width: 960px;
  }
  
  @media (min-width: 1200px) {
    width: 1170px;
  }
  
  @media (min-width: 1366px) {
    width: 1270px;
  }
}

