* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-anchor: none;
  
  &::after, &::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    outline: 0
  }
  
  &:active, &:focus, &:hover, &:visited {
    outline: 0;
    -webkit-tap-highlight-color: transparent
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

button, input, hr, optgroup, select, textarea, br, p, h1, h2, h3, h4, h5, h6, blockquote, address {
  margin: 0
}

progress, sub, sup {
  vertical-align: baseline
}

pre, code {
  overflow: auto;
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: .9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  color: #000
}

embed, iframe, img, legend, object, pre, details, figure, video, audio, picture {
  max-width: 100%;
  display: block;
  border: 0;
  outline: 0
}

a {
  background-color: transparent;
  text-decoration: unset;
  color: unset;
  
  &:active, &:focus, &:hover, &:visited {
    color: inherit;
    text-decoration: unset;
  }
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border: none;
  height: auto
}


.hide, .hidden, [hidden] {
  display: none
}


cite, dfn, em, i {
  font-style: italic
}


code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: .9375rem
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help
}

ins, mark {
  background: #fff9c0;
  text-decoration: none
}

big {
  font-size: 125%
}


// Lists
ul {
  list-style-type: none;
}

ol, ul {
  margin: 0;
  padding: 0;
  
  li {
    ol, ul {
      margin: 0;
      padding: 0;
    }
  }
}


// Table
table {
  margin: 0;
  width: auto
}

dt {
  font-weight: 700
}

dd {
  margin: 0 1.5em 1.5em
}


// Forms
input, textarea {
  padding: 0;
  margin: 0;
  appearance: none;
  outline: none;
  color: inherit;
  border-radius: 0;
  box-shadow: none;
  border: none;
  
  
  &::placeholder {
    font-size: inherit;
    color: inherit;
  }
  
  &:focus, &:hover, &:active, &.focus-visible, &.focus-within {
    appearance: none;
    outline: none;
    color: inherit;
    border-radius: 0;
    box-shadow: none;
    border: none;
    
    &::placeholder {
      font-size: inherit;
      color: inherit;
    }
  }
  
  
  &::-webkit-search-cancel-button {
    display: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  
  
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 500000s ease-in-out 0s !important;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

button, select, input, textarea, label {
  text-transform: unset;
  border: none;
  outline: none;
  background: unset;
  appearance: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: none
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
