body {
  p {
    line-height: inherit;
    color: inherit;
    font-size: inherit;
  }
}

h1, h2, h3, h4, h5, h6 ,
.h1, .h2, .h3, .h4, .h5, .h6{

}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}





