.page-template-member {
  padding-top: 100px;
  padding-bottom: 120px;
  @media (max-width: 1366px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 565px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  // Back Button
  .back-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      @include transition;
      
      svg {
        height: 12px;
        width: auto;
        display: block;
        object-fit: contain;
        
        path {
          fill: var(--color-green);
        }
      }
    }
    
    &__text {
      font-size: 18px;
      font-weight: 500;
      color: var(--color-green);
    }
    
    &:hover {
      .icon {
        transform: translateX(-5px);
      }
    }
  }
  
  // Profile
  .section-member {
    padding-top: 40px;
    
    .section-row {
      display: flex;
      justify-content: space-between;
      
      .col-left {
        width: 50%;
        padding-right: var(--gap-size);
        
        .member-content {
          max-width: 545px;
        }
        
        .member__name {
          color: var(--color-green);
        }
        
        .member__position {
          font-size: 16px;
          margin-top: 10px;
          font-weight: 500;
        }
        
        .biography {
          margin-top: 30px;
        }
        
        .btn-wrap {
          margin-top: 35px;
        }
      }
      
      .col-right {
        width: 40%;
        
        .member-img {
          position: relative;
          background-color: var(--color-grey);
          padding: 25px;
          max-width: 288px;
        }
      }
    }
    
    
    @media (max-width: 1199px) {
      .section-row {
        justify-content: flex-start;
        
        .col-left {
          width: 60%;
        }
        
        .col-right {
          padding-left: var(--gap-size);
          width: auto;
        }
      }
    }
    @media (max-width: 991px) {
      .section-row {
        .col-left {
          width: 70%;
        }
      }
    }
    @media (max-width: 767px) {
      padding-top: 30px;
      .section-row {
        flex-direction: column;
        
        .col-left {
          padding: 0;
          width: 100%;
          max-width: 100%;
          
          .member-content {
            max-width: 100%;
          }
        }
        
        .col-right {
          width: 100%;
          padding: 0;
          margin-bottom: var(--gap-size);
          margin-top: calc(var(--gap-size) * 1.5);
          
          .member-img {
            display: inline-block;
            width: auto;
            max-width: 100%;
            padding: 15px;
          }
        }
      }
    }
  }
  
  // Team Member Contact
  .section-contact-team {
    padding-top: 100px;
    @media (max-width: 1366px) {
      padding-top: 90px;
    }
    @media (max-width: 991px) {
      padding-top: 80px;
    }
    @media (max-width: 767px) {
      padding-top: 60px;
    }
    @media (max-width: 565px) {
      padding-top: 40px;
    }
    .form-wrap{
      max-width: 600px;
      .section-title{
        margin-bottom: 25px;
      }
    }
  }
  
  
}

