.page-template-search {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  --accent-color: var(--color-green);
  
  
  .search-result-row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .col-left {
      width: 100%;
      padding-right: var(--gap-size);
      .search-result {
        background-color: var(--color-grey);
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 70px;
        .search-result__caption {
          font-family: var(--font-primary);
          font-weight: bold;
          font-size: 18px;
          line-height: 1.11;
          color: var(--color-black);
        }
        .search-result-list {
          margin-top: 40px;
          .post {
            margin-bottom: 40px;
            
            &:last-child {
              margin-bottom: 0;
            }
            
            .post-type {
              margin-bottom: 10px;
              font-size: 14px;
              font-weight: 500;
              line-height: 2;
              
              .value {
                text-transform: capitalize;
              }
            }
            
            .post-title {
              margin-bottom: 8px;
              
              a {
                @include transition;
                
                &:hover {
                  color: var(--accent-color);
                }
              }
            }
            
          }
        }
      }
    }
    .col-right {
      min-width: 200px;
      width: 200px;
      
      .contact-info {
        &__title {
          margin-bottom: 15px;
        }
        
        .phone-wrap {
          font-size: 20px;
          
          a {
            @include transition;
            
            &:hover {
              color: var(--color-green);
            }
          }
        }
        
        .btn-wrap {
          margin-top: 20px;
        }
      }
      
    }
    
    @media (max-width: 991px) {
      flex-wrap: wrap;
      margin-top: 45px;
      .col-left {
        width: 100%;
        padding: 0;
      }
      .col-right {
        margin-top: 80px;
        width: 100%;
      }
    }
    @media (max-width: 660px) {
      .col-left {
        .search-result{
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 30px;
          padding-bottom: 30px;
          .search-result-list{
          .post{
          
          }
          }
        }
      }
    }
  }
  
  
  .pagination-wrap {
    justify-content: flex-start;
    margin-top: 50px;
    @media (max-width: 420px) {
      justify-content: center;
    }
  }
  
}