.page-template-events {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  --accent-color: var(--color-orange);
  
  
  // Events Grid
  .layout-events-grid {
    margin-top: 40px;
  }
  
  
}


.layout-events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -12px;
  margin-right: -12px;
  
  .event {
    width: calc(100% / 3 - 24px);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--color-grey);
    border-right: 2px solid var(--color-grey);
    border-bottom: 2px solid var(--color-grey);
    
    .event-thumbnail {
      width: calc(100% + 4px);
      max-width: calc(100% + 4px);
      left: -2px;
      height: auto;
      position: relative;
      overflow: hidden;
      display: block;
      background-color: var(--accent-color);
      
      &:after {
        padding-bottom: 50%;
        display: block;
        content: "";
      }
      
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: 5;
      }
      
      .permalink {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    
      .type{
        position: absolute;
        left: 0;
        z-index: 20;
        pointer-events: none;
        position: absolute;
        top: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 36px;
        min-width: 95px;
        padding-left: 15px;
        padding-right: 25px;
        text-align: center;
        background-color: var(--color-orange-2);
        font-size: 18px;
        font-weight: bold;
        color: var(--color-white);
        text-transform: capitalize;
        line-height: 1;
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        padding-bottom: 2px;
        
      }
      
    }
    
    .event-info {
      padding-top: 15px;
      padding-left: var(--gap-size);
      padding-right: var(--gap-size);
      padding-bottom: 18px;
      display: block;
    }
    
    .event-title {
      @include transition;
      
      &:hover {
        color: var(--accent-color);
      }
    }
    
    .date {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    
    .location{
      margin-top: 10px;
    }
    
    
    .featuring{
      margin-top: 13px;
    }
    
    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    
    
  }
  
  @media (max-width: 1199px) {
    .event {
      width: calc(100% / 2 - 24px);
      
      .post-info {
        padding-top: var(--gap-size);
      }
    }
  }
  @media (max-width: 660px) {
    .event {
      width: calc(100% - 24px);
      
      .post-info {
        padding-top: var(--gap-size);
      }
    }
  }
}