.btn {
  --height: 38px;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  min-width: 175px;
  height: var(--height);
  padding-left: 15px;
  overflow: hidden;
  
  br {
    display: none;
  }
  
  .caption {
    height: var(--height);
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 1;
    color: var(--color-white);
    font-weight: 500;
    padding-bottom: 3px;
  }
  
  .icon {
    height: var(--height);
    
    overflow: hidden;
    padding-right: 11px;
    padding-left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    backface-visibility: hidden;
    
    &:before {
      display: block;
      content: "";
      background-color: rgba(255, 255, 255, .6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 200%;
      height: 165%;
      transform: rotate(15deg) translateX(7%);
      backface-visibility: hidden;
      @include transition;
    }
    
    svg {
      position: relative;
      z-index: 15;
    }
  }
  
  &.btn-shrink {
    min-width: 135px;
  }
}


.btn-simple {
  --height: 38px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 135px;
  height: var(--height);
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  @include transition;
  
  br {
    display: none;
  }
  
  .caption {
    width: auto;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 1;
    color: var(--color-white);
    font-weight: 500;
    padding-bottom: 3px;
  }
  
  &.btn-shrink {
    min-width: 135px;
  }
  
  &.btn-primary {
    &:hover {
      background-color: var(--color-green-hover);
    }
  }
}


// Green
.btn-primary, .btn-green {
  background-color: var(--color-green);
  
  .caption {
    color: var(--color-white);
  }
  
  .icon {
    &:before {
      background-color: var(--color-green-2);
    }
  }
  
  &:hover {
    .icon {
      &:before {
        transform: rotate(15deg) translateX(110%);
      }
    }
  }
}


// Blue
.btn-blue {
  background-color: var(--color-blue);
  
  .caption {
    color: var(--color-white);
  }
  
  .icon {
    &:before {
      background-color: var(--color-blue-2);
    }
  }
  
  &:hover {
    .icon {
      &:before {
        transform: rotate(15deg) translateX(110%);
      }
    }
  }
}


// Grey
.btn-grey-white {
  background-color: var(--color-grey);
  
  .caption {
    color: var(--color-green);
  }
  
  .icon {
    svg {
      path {
        fill: var(--color-green);
      }
    }
    
    &:before {
      background-color: var(--color-white);
    }
  }
}

// Orange
.btn-orange {
  background-color: var(--color-orange);
  
  .caption {
    color: var(--color-white);
  }
  
  .icon {
    &:before {
      background-color: var(--color-orange-2);
    }
  }
  
  &:hover {
    .icon {
      &:before {
        transform: rotate(15deg) translateX(110%);
      }
    }
  }
}


// Link
.btn-link {
  display: inline-flex;
  align-items: center;
  
  .caption {
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
  }
  
  .icon {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    @include transition;
    
    svg {
      margin-top: 2px;
      width: 12px;
      height: auto;
    }
  }
  
  &:hover {
    .icon {
      transform: translateX(5px);
    }
  }
  
  
  // White
  &.white {
    .caption {
      color: var(--color-white);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }
  
  // Black
  &.black {
    .caption {
      color: var(--color-black);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-black);
        }
      }
    }
  }
  
  
  // Blue
  &.blue, &.news, &.post {
    .caption {
      color: var(--color-blue);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-blue);
        }
      }
    }
  }
  
  
  // Orange
  &.orange, &.event {
    .caption {
      color: var(--color-orange);
    }
    
    .icon {
      svg {
        path {
          fill: var(--color-orange);
        }
      }
    }
  }
}