.footer {
  background-color: var(--color-green);
  padding-top: 75px;
  padding-bottom: 40px;
  min-height: 500px;
  position: relative;
  .container {
    max-width: 1130px;
    position: relative;
    z-index: 15;
  }
  
  // SVG Figures
  .top-triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    
    svg {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
  .bot-triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 170px;
    
    svg {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
  
  
  // Footer Top
  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    
    .widget {
      min-width: 140px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 15px;
      margin-right: 15px;
      
      &__title {
        font-family: var(--font-primary);
        font-size: 20px;
        line-height: 1.3;
        color: var(--color-white);
        font-weight: bold;
        padding-bottom: 7px;
        border-bottom: 2px solid var(--color-green-2);
        margin-bottom: 10px;
      }
      
      .links {
        li {
          margin-bottom: 7px;
          
          a {
            font-family: var(--font-primary);
            font-size: 16px;
            line-height: 1.5;
            color: var(--color-white);
            @include transition;
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-color: transparent;
            
            &:hover {
              text-decoration-color: var(--color-white);
            }
          }
        }
      }
    }
    
    // Socials
    .widget-socials {
      .footer-logo {
        img {
          height: 46px;
          width: auto;
          display: block;
          object-fit: contain;
        }
      }
      
      .socials {
        margin-top: 32px;
        &__label {
          font-size: 16px;
          font-weight: bold;
          color: var(--color-white);
        }
        
        &__list {
          margin-top: 15px;
          display: flex;
          
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 17px;
            svg {
              max-width: 24px;
              height: 24px;
              width: auto;
              display: block;
              object-fit: contain;
              path{
                fill: var(--color-white);
              }
            }
          }
        }
      }
    }
    
    // Address
    .widget-address {
      width: 215px;
      
      .widget__address {
        font-family: var(--font-primary);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        color: var(--color-white);
        max-width: 160px;
      }
      
      .address-link {
        margin-top: 15px;
        
        .caption {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
      
      .phone-link {
        margin-top: 25px;
        font-family: var(--font-primary);
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-white);
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: transparent;
        @include transition;
        
        &:hover {
          text-decoration-color: var(--color-white);
        }
      }
    }
    
    
  }
  
  // Footer Center
  .footer-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 70px;
    img {
      height: 53px;
      width: auto;
      display: block;
      object-fit: contain;
    }
  }
  
  // Footer Bottom
  .footer-bot {
    margin-top: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    .copyright{
      margin-right: 7.5px;
      font-family: var(--font-primary);
      font-size: 16px;
      line-height: 1.56;
      color: var(--color-white);
    }
    
    a {
      font-family: var(--font-primary);
      font-size: 16px;
      line-height: 1.56;
      text-decoration: underline;
      text-underline-offset: 2px;
      color: var(--color-white);
      margin-left: 7.5px;
      margin-right: 7.5px;
    }
    
  }
  
  
  @media (max-width: 1366px) {
    .top-triangle{
      width: 9%;
    }
    .bot-triangle{
      width: 9%;
    }
  }
  @media (max-width: 991px) {
    .footer-top{
      flex-wrap: wrap;
      .widget{
        width: calc(50% - 30px);
        margin-bottom: 45px;
      }
    }
    .footer-center{
      justify-content: center;
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) {
    .footer-top {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  @media (max-width: 560px) {
  .footer-top{
    .widget{
      width: 100%;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  }
  @media (max-width: 480px) {
    .footer-top{
      .widget{
        max-width: 240px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .footer-center{
      margin-top: 30px;
    }
    .footer-bot{
      margin-top: 35px;
      flex-direction: column;
      .copyright{
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}