@use "../include" as *;

%field-input { // usage: @extend %field-input
	--input-bg-color: #fff;
	--input-color: #fff;
	--input-placeholder-color: #fff;
	--input-border-color: var(--color-grey);
	--input-focus-border-color: var(--color-primary);
	--input-border-radius: var(--global-radius);

	@include input-color(var(--input-color));
	background-color: var(--input-bg-color);
	border: 1px solid var(--input-border-color);

	width: 100%;
	font-size: 16px;
	line-height: normal;
	padding: 0 16px;
	height: 36px;
	border-radius: var(--input-border-radius);
	@include transition;

	&::placeholder {
		@include input-color(var(--input-placeholder-color));
	}

	&:focus {
		border-color: var(--input-focus-border-color);
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend %field-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	min-height: 110px;
	height: 110px;
	max-height: 320px;
	padding: 16px;
	resize: vertical;
}

input[type="checkbox"] {
	--input-bg-color: #fff;
	--input-border-color: var(--color-grey);

	@include transition;
	flex-shrink: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
	background-color: var(--input-bg-color);
	border: 1px solid var(--input-border-color);
	appearance: none;
	position: relative;
	cursor: pointer;
	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 80%;
		height: 80%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' fill='%23fff'/%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0;
		margin: auto;
		@include transition;
	}

	&:checked {
		background-color: var(--color-dark);
		&:after {
			opacity: 1;
		}
	}
}

input[type="radio"] {
	--input-bg-color: #fff;
	--input-border-color: var(--color-grey);
	--input-checked-bg: var(--color-dark);

	@include transition;

	flex-shrink: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid var(--input-border-color);
	border-radius: 50%;
	appearance: none;
	position: relative;
	cursor: pointer;

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 10px;
		background-color: var(--input-checked-bg);
		margin: auto;
		opacity: 0;
		border-radius: 50%;
		@include transition;
	}

	&:checked {
		&:after {
			opacity: 1;
		}
	}
}
