form {
  input {
    &[type='checkbox'] {
      appearance: auto;
    }
    
    &[type='radio'] {
      appearance: auto;
    }
  }
}

.form {
  &.dark {
    .form-field {
      input {
        background-color: #f3f3f3;
        // background-color: grey;
      }
      
      textarea {
        background-color: #f3f3f3;
        // background-color: grey;
      }
      
      .choices__inner {
        background-color: #f3f3f3;
        // background-color: grey;
      }
    }
  }
  
  // Row
  .form-row {
    display: flex;
    justify-content: space-between;
    
    .form-field {
      width: calc(50% - var(--gap-size) / 2);
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  
  // Field
  .form-field {
    display: flex;
    &.hidden{
      display: none;
    }
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
    @media (max-width: 991px) {
      margin-bottom: 18px;
    }
    
    // Label
    label:not(.form-field) {
      font-size: 18px;
      line-height: 1.6;
      font-weight: 500;
      margin-bottom: 5px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    
    // Input
    input {
      font-family: var(--font-primary);
      font-size: 16px;
      height: 45px;
      background-color: var(--color-white);
      border: 1px solid #C2C2C2;
      color: var(--color-black);
      padding: 0 15px;
      display: block;
      width: 100%;
      
      &::placeholder {
        font-family: var(--font-primary);
        color: #2D2D2D;
        font-size: 16px;
      }
      
      @media (max-width: 767px) {
        height: 40px;
      }
    }
    
    // Textarea
    textarea {
      display: block;
      width: 100%;
      font-size: 16px;
      font-family: var(--font-primary);
      color: var(--color-black);
      min-height: 180px;
      height: 180px;
      max-height: 450px;
      background-color: var(--color-white);
      padding: 15px;
      resize: vertical;
      border: 1px solid #C2C2C2;
      
      &::placeholder {
        font-family: var(--font-primary);
        color: #2D2D2D;
        font-size: 16px;
      }
      
      @media (max-width: 767px) {
        min-height: 100px;
      }
    }
    
    // Select
    .choices__inner {
      font-size: 16px;
      font-family: var(--font-primary);
      background-color: var(--color-white);
      border: 1px solid #C2C2C2;
      height: 45px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      .choices__list--single {
        padding-left: 15px;
      }
      
      @media (max-width: 767px) {
        height: 40px;
      }
    }
    
    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      z-index: 25;
      border: 1px solid #C2C2C2;
      
      .choices__item--selectable {
        padding-right: 0;
        border-bottom: 1px solid #C2C2C2;
        
        &:after {
          display: none;
        }
      }
    }
    
    // Checkbox
    .checkbox {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      overflow: hidden;
      border: 1px solid var(--color-black);
      background-color: var(--color-white);
      
      .wpcf7-list-item {
        margin: 0;
        padding: 0;
        display: block;
      }
      
      .wpcf7-list-item-label {
        font-size: 0;
        display: none;
      }
      
      .wpcf7-not-valid-tip {
        display: none;
      }
      
      .wpcf7-form-control-wrap {
        position: static;
      }
      
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        cursor: pointer;
        opacity: 0;
        
        & + .state {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include transition;
          opacity: 0;
          
          svg {
            max-width: 70%;
            height: auto;
            display: block;
            object-fit: contain;
            
            path {
              fill: var(--color-green-2);
            }
          }
        }
        
        &.active + .state, &:checked + .state {
          opacity: 1;
        }
      }
      
    }
    
    // Checkbox Group
    .checkbox-group {
      display: flex;
      
      
      p {
        display: flex;
      }
      
      .checkbox-label {
        margin-bottom: 0;
        margin-left: 17px;
        user-select: none;
        cursor: pointer;
        font-size: 16px;
        max-width: 410px;
        font-weight: 400;
        transform: translateY(-5px);
        @media (max-width: 420px) {
          font-size: 12px;
        }
      }
      
      .wpcf7-list-item-label {
        display: none;
      }
      
    }
    
    
    // Native CF7 checkbox
    .checkbox-group.custom {
      .input-wrap {
        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        position: relative;
        label{
          margin: 0;
        }
        .state {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include transition;
          opacity: 0;
          pointer-events: none;
          
          svg {
            max-width: 70%;
            height: auto;
            display: block;
            object-fit: contain;
            
            path {
              fill: var(--color-green-2);
            }
          }
        }
        &.active {
          .state {
            opacity: 1;
          }
        }
      }
      .wpcf7-acceptance {
        .wpcf7-list-item {
          margin: 0;
          
          label {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            min-height: 20px;
            min-width: 20px;
            overflow: hidden;
            border: 1px solid var(--color-black);
            background-color: var(--color-white);
            
            input {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 15;
              cursor: pointer;
              opacity: 0;
              
              
            }
          }
        }
      }
      .checkbox-label {
        transform: translateY(-3px);
      }
    }
    
    .wpcf7-form-control-wrap {
      position: relative;
    }
    
    .wpcf7-not-valid-tip {
      display: none;
    }
    
    br {
      display: none;
    }
  }
  
  // Submit Row
  .form-row--submit {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
    @media (max-width: 991px) {
      justify-content: center;
      padding-left: calc(18px + 24px);
    }
    
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 18px;
      animation: spin infinite 1s linear;
      opacity: 0;
      
      &.active {
        opacity: 1;
      }
      
      @include transition;
      
      svg {
        height: 24px;
        width: auto;
        display: block;
        object-fit: contain;
        
        path {
          fill: var(--color-green);
        }
        
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  
  .wpcf7 form .wpcf7-response-output {
    min-height: 23px;
    margin: 0;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    border: 0;
    display: block;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
}





