.edit-post-visual-editor, .post-content, .section-text, .text-section, .text-content {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
  font-weight: 400;
  @media (max-width: 767px) {
    font-size: 15px;
  }
  
  p {
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    font-family: var(--font-primary);
    margin-bottom: 1.2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  a {
    color: var(--color-green);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  ol {
    padding-left: 30px;
    margin-bottom: 1.2rem;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    li {
      margin-bottom: 5px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  ul {
    margin-bottom: 1.2rem;
    padding-left: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    li {
      margin-bottom: 5px;
      list-style-type: square;
      
      &::marker {
        color: var(--color-green);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1rem;
    margin-top: 1.4rem;
    &:last-child{
      margin-bottom: 0;
    }
    &:first-child{
      margin-top: 0;
    }
  }
  
  blockquote {
    margin: 50px 0;
    padding-left: 30px;
    border-left: 5px solid var(--color-green);
    font-family: var(--font-primary);
    font-size: 22px;
    line-height: 1.55;
    font-style: italic;
    font-weight: 500;
    color: var(--color-green);
    @media (max-width: 1199px) {
      margin: 35px 0;
      font-size: 18px;
      padding-left: 20px;
    }
    @media (max-width: 480px) {
      margin: 30px 0;
      font-size: 16px;
      padding-left: 15px;
    }
  }
  
  
  // Cover
  .wp-block-cover {
    padding-left: 0;
    padding-right: 0;
    
    &.alignfull {
      padding-top: 120px;
      padding-bottom: 120px;
      @media (max-width: 1366px) {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      position: relative;
      
      .wp-block-cover__image-background {
        width: 100vw;
      }
    }
  }
  
  // Image Block
  .wp-block-image.alignwide {
    width: 150%;
    max-width: unset;
    margin-left: -25%;
  }
  
  .wp-block-image{
    margin-bottom: 1.2rem;
    figcaption{
      padding-top: 8px;
      text-align: right;
      font-family: var(--font-primary);
      font-size: 12px;
      line-height: 2;
      color: var(--color-black);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
