// Main Navigation
.nav-main {
  max-width: var(--maxW);
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 150;
  background-color: var(--color-white);
  
  &__inner {
    width: 100%;
    height: 100%;
    
    .container {
      height: 100%;
      position: relative;
    }
  }
  
  &__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  // Logo
  &__logo {
    img {
      max-height: 39px;
      width: auto;
      display: block;
      object-fit: contain;
    }
  }
  
  &__toggle {
    display: none;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    
    & > li {
      padding: 12px 0;
      margin-left: 10px;
      margin-right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      
      &:last-child {
        margin-right: 0;
      }
      
      a {
        font-family: var(--font-primary);
        font-size: 18px;
        line-height: 1.67;
        font-style: normal;
        font-weight: 500;
        color: var(--color-black);
        position: relative;
        @include transition;
        display: inline-flex;
        align-content: center;
        
        .sub-menu-toggle {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          
          svg {
            width: 12px;
            height: auto;
            display: block;
            object-fit: contain;
            transform: translateY(2px);
            
            path {
              fill: var(--color-black);
              @include transition;
            }
          }
          
          &:before {
            display: none;
          }
        }
        
        &:hover {
          color: var(--color-green);
          
          .sub-menu-toggle {
            svg {
              path {
                fill: var(--color-green);
              }
            }
          }
        }
      }
      
      &.current_page_item, &.current-menu-item {
        & > a {
          color: var(--color-green);
          
          .sub-menu-toggle {
            svg {
              path {
                fill: var(--color-green);
              }
            }
          }
        }
      }
      
      // Sub Menu
      &.menu-item-has-children {
        position: relative;
        
        .sub-menu {
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          padding-top: 20px;
          padding-left: 30px;
          padding-right: 45px;
          padding-bottom: 20px;
          width: 300px;
          position: absolute;
          top: 100%;
          background-color: var(--color-white);
          opacity: 0;
          pointer-events: none;
          transform: translateY(15px);
          left: -30px;
          @include transition;
          
          li {
            margin: 0;
            display: flex;
            position: relative;
            margin-bottom: 24px;
            
            &:last-child {
              margin-bottom: 0;
            }
            
            a {
              position: relative;
              display: block;
              width: 100%;
              
              .title {
                display: block;
                font-family: var(--font-primary);
                font-weight: bold;
                font-size: 16px;
                line-height: 1.5;
                color: var(--color-black);
                @include transition;
              }
              
              .description {
                display: block;
                font-family: var(--font-primary);
                font-size: 14px;
                line-height: 1.71;
                color: var(--color-black);
                font-weight: 400;
                @include transition;
              }
              
              .icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                @include transition;
                
                svg {
                  path {
                    @include transition;
                    fill: var(--color-black);
                  }
                }
              }
              
              &:hover {
                .title {
                  color: var(--color-green);
                }
                
                .description {
                  color: var(--color-black);
                }
                
                .icon {
                  transform: translateY(-50%) translateX(15px);
                  
                  svg {
                    path {
                      fill: var(--color-green);
                    }
                  }
                }
              }
            }
            
            
            &.current_page_item, &.current-menu-item {
              & > a {
                color: var(--color-dark);
                
                .sub-menu-toggle {
                  svg {
                    path {
                      stroke: var(--color-dark);
                    }
                  }
                }
                
                span {
                  &:before {
                    width: 100%;
                    left: 0;
                  }
                }
              }
            }
          }
          
          &:hover {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
          }
        }
        
        &.active {
          & > .sub-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
          }
        }
      }
      
    }
  }
  
  // Search Form
  .form-search {
    display: flex;
    align-items: center;
    max-width: 200px;
    position: relative;
    margin-left: 23px;
    
    .form-field {
      margin: 0;
      height: 32px;
      
      input {
        height: 32px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        
        &::placeholder {
          color: #666;
          font-size: 14px;
        }
      }
    }
    
    .btn-submit {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 15;
      
      svg {
        height: 15px;
        width: auto;
        display: block;
        object-fit: contain;
        
        path {
          fill: var(--color-black);
        }
      }
    }
  }
  
  .btn-cta {
    margin-left: 28px;
  }
  
  // Fixed Nav
  &.fixed {
    z-index: 200;
    position: fixed;
    width: 100%;
    max-width: var(--maxW);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    @include transition;
    transform: translateY(-110%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
    &.active {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 1440px) {
    height: 80px;
    &__logo {
      img {
        max-height: 36px;
      }
    }
  }
  @media (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }
  @media (max-width: 1099px) {
    &__logo {
      img {
        max-height: 30px;
      }
    }
    .menu {
      & > li {
        margin-left: 8px;
        margin-right: 12px;
        
        a {
          font-size: 16px;
        }
      }
    }
    .form-search {
      max-width: 160px;
    }
    
  }
  @media (max-width: 991px) {
    height: 72px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    &__logo {
      img {
        max-height: 25px;
      }
    }
    
    .menu {
      display: none;
    }
    .search-btn {
      display: none;
    }
    .btn-cta {
      display: none;
    }
    .form-search {
      display: none;
    }
    
    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        height: 20px;
        width: auto;
        display: block;
        object-fit: contain;
      }
    }
  }
}


// Side Navigation
.nav-side {
  max-width: var(--maxW);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  @include transition;
  z-index: 250;
  pointer-events: none;
  transform: translateX(102%);
  background-color: var(--color-white);
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
  
  // Open State
  &.active {
    pointer-events: all;
    transform: translateX(0);
  }
  
  &__header {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    .container {
      height: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
    img {
      max-height: 25px;
      width: auto;
      display: block;
      object-fit: contain;
    }
  }
  &__scroller {
    padding-top: 18px;
    padding-bottom: 200px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    max-height: 100%;
  }
  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      width: auto;
      height: 25px;
      display: block;
      object-fit: contain;
    }
  }
  
  // Search Form
  .form-search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
    .form-field {
      margin: 0;
      height: 40px;
      input {
        height: 40px;
        &::placeholder {
          color: #666;
        }
      }
    }
    .btn-submit {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 15;
      svg {
        height: 15px;
        width: auto;
        display: block;
        object-fit: contain;
        
        path {
          fill: var(--color-black);
        }
      }
    }
  }
  
  // Menu
  .menu {
    position: relative;
    z-index: 15;
    
    & > li {
      display: block;
      width: 100%;
      
      & > a {
        font-family: var(--font-primary);
        font-size: 18px;
        line-height: 1.67;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-black);
        font-weight: 500;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #D2D2D2;
        @include transition;
        
        
        span {
          position: relative;
        }
        
        span:not(.sub-menu-toggle) {
          position: relative;
        }
        
        .sub-menu-toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
          
          svg {
            width: 16px;
            height: auto;
            display: block;
            object-fit: contain;
          }
        }
        
        &:hover {
          color: var(--color-green);
        }
      }
      
      &.current_page_item, &.current-menu-item {
        & > a {
          color: var(--color-green);
        }
      }
      
      &.menu-item-has-children, &.mega-menu-wrapper {
        .sub-menu {
          border-bottom: 1px solid #D2D2D2;
          display: none;
          padding-top: 32px;
          padding-bottom: 32px;
          padding-left: 36px;
          padding-right: 45px;
          
          li {
            margin: 0;
            display: flex;
            position: relative;
            margin-bottom: 24px;
            
            &:last-child {
              margin-bottom: 0;
            }
            
            a {
              position: relative;
              display: block;
              width: 100%;
              
              .title {
                display: block;
                font-family: var(--font-primary);
                font-weight: bold;
                font-size: 16px;
                line-height: 1.5;
                color: var(--color-black);
                @include transition;
              }
              
              .description {
                display: block;
                font-family: var(--font-primary);
                font-size: 14px;
                line-height: 1.71;
                color: var(--color-black);
                font-weight: 400;
                @include transition;
              }
              
              .icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                @include transition;
                
                svg {
                  path {
                    @include transition;
                    fill: var(--color-black);
                  }
                }
              }
              
              &:hover {
                .title {
                  color: var(--color-green);
                }
                
                .description {
                  color: var(--color-black);
                }
                
                .icon {
                  transform: translateY(-50%) translateX(15px);
                  
                  svg {
                    path {
                      fill: var(--color-green);
                    }
                  }
                }
              }
            }
            
            
            &.current_page_item, &.current-menu-item {
              & > a {
                color: var(--color-dark);
                
                .sub-menu-toggle {
                  svg {
                    path {
                      stroke: var(--color-dark);
                    }
                  }
                }
                
                span {
                  &:before {
                    width: 100%;
                    left: 0;
                  }
                }
              }
            }
          }
          
        }
      }
      
      &.active {
        & > a {
          & > .sub-menu-toggle {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

