.section-faq {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--color-grey);
  overflow: hidden;
  min-height: 600px;
  display: flex;
  
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: unset;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  &[data-padding-size="small"] {
    padding-top: 60px;
    padding-bottom: 60px;
    .section-title {
      margin-bottom: 20px;
    }
  }
  
  
  // Section Title
  .section-title {
    position: relative;
    z-index: 15;
    margin-bottom: 40px;
    max-width: 45%;
    @media (max-width: 1199px) {
      max-width: 50%;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  
  // Cropped Image
  .bg-img {
    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: block;
      max-width: 960px;
      object-fit: cover;
      width: 68%;
      max-height: 100%;
      
      clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
      @media (max-width: 1199px) {
        object-fit: cover;
        max-width: 60%;
        max-height: 515px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  
  .section-row {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    width: calc(100% + var(--gap-size) * 2);
    margin-left: calc(var(--gap-size) * -1);
    margin-right: calc(var(--gap-size) * -1);
    
    .col {
      width: 50%;
      padding-right: var(--gap-size);
      padding-left: var(--gap-size);
    }
    
    
    @media (max-width: 991px) {
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      .col {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
      .col-right {
        margin-top: calc(var(--gap-size) * 2);
      }
    }
  }
  
  // Accorion
  .accordion {
    position: relative;
    background-color: var(--color-white);
    z-index: 2;
    
    .accordion-item {
      border-bottom: 2px solid #C4C4C4;
      
      &:last-child {
        border-bottom: none;
      }
      
      // Header
      .accordion-item__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 12px;
        padding-bottom: 12px;
        min-height: 62px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        @include transition;
        
        .question {
          font-size: 18px;
          font-weight: 500;
          user-select: none;
          padding-right: 15px;
          line-height: 1.2;
          
        }
        
        .icon {
          min-width: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      
      // Body
      .accordion-item__body {
        padding: 16px 22px;
        display: none;
      }
      
      // Active Accordion
      &.active {
        .accordion-item__header {
          border-bottom: 2px solid #C4C4C4;
          
          .question {
            color: var(--color-green);
          }
          
          .icon {
            transform: rotate(90deg);
            
            svg {
              path {
                fill: var(--color-green);
              }
            }
          }
        }
      }
    }
    
    @media (max-width: 660px) {
      .accordion-item {
        .accordion-item__header {
          padding-left: 16px;
          padding-right: 16px;
          min-height: 50px;
          
          .question {
            font-size: 16px;
          }
        }
        
        .accordion-item__body {
          padding: 16px;
        }
      }
    }
  }
  
  // CTA Block
  .cta-block {
    margin-top: 50px;
    width: calc(50% - var(--gap-size));
    background-color: var(--color-white);
    .cta-block__inner {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 30px;
    }
    .title {
      color: var(--color-green);
      margin-bottom: 10px;
    }
    .btn-wrap {
      margin-top: 15px;
      
      .btn {
        min-width: 135px;
      }
    }
  
    @media (max-width: 1199px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 767px) {
     .cta-block__inner{
       padding-top: 25px;
       padding-bottom: 25px;
       padding-left: 20px;
       padding-right: 20px;
     }
    }
  }
  
  // Download Button
  .download-btn {
    margin-top: 50px;
  }
  
  
}



