.section-startups-corporates-investors {
  padding-top: 100px;
  padding-bottom: 100px;
  
  .blocks-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    .block-item {
      --accent-color: var(--color-green);
      
      &.corporate-block {
        --accent-color: var(--color-blue);
      }
      
      &.investors-block {
      --accent-color: var(--color-orange);
      }
      
      width: calc(100% / 3 - 24px);
      margin-left: 12px;
      margin-right: 12px;
      border: 1px solid var(--accent-color);
      padding-top: 35px;
      padding-left: 37px;
      padding-bottom: 35px;
      padding-right: 37px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--accent-color);
      
      &__caption {
        font-size: 16px;
        line-height: 1.25;
        font-weight: 500;
        margin-bottom: 10px;
      }
      
      &__title {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.13;
      }
      
      .btn-wrap {
        margin-top: 50px;
      }
    }
  }
  
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 1199px) {
    .blocks-grid {
      justify-content: center;
      .block-item {
        width: calc(100% / 2 - 24px);
        margin-bottom: 24px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    .blocks-grid {
      .block-item {
        padding-left: 25px;
        padding-right: 25px;
        width: calc(100% - 24px);
      }
    }
  }
  
}