.section-goals {
  .section-title {
    max-width: 560px;
  }
  
  .images-grid {
    margin-top: 50px;
    display: grid;
    gap: 58px;
    grid-template-columns: repeat(7, 1fr);
    
    .img-wrap {
      width: 100%;
    }
  }
  
  @media (max-width: 1366px) {
    .images-grid {
      gap: 30px;
    }
  }
  @media (max-width: 1199px) {
    .images-grid {
      gap: 30px;
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (max-width: 991px) {
    .images-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 565px) {
    .images-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
}