.section-achievements {
  padding-top: 100px;
  padding-bottom: 100px;
  
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  
  
  .achievements-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      
      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-bottom: 10px;
        
        img {
          display: block;
          object-fit: contain;
          max-height: 100%;
          width: auto;
        }
      }
      
      &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.11;
        font-weight: bold;
        color: var(--color-green-2);
        margin-bottom: 8px;
      }
      
      &-title {
        max-width: 265px;
        font-weight: bold;
        line-height:1.25;
        text-align: center;
        color: var(--color-dark);
      }
    }
  }
  
  @media (max-width: 660px) {
    .achievements-grid {
      &__item {
        width: calc(100% / 2);
        margin-bottom: 35px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .achievements-grid {
      &__item {
        margin-bottom: 60px;
        width: 100%;
      }
    }
  }
}