.section-about {
  padding-top: 100px;
  padding-bottom: 100px;
  
  .section-subtitle {
    margin-bottom: 100px;
    display: block;
    text-align: center;
    font-weight: 400;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    strong, b {
      font-weight: 600;
    }
  }
  
  .section-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(var(--gap-size) * -1);
    margin-right: calc(var(--gap-size) * -1);
    
    .col {
      padding-left: var(--gap-size);
      padding-right: var(--gap-size);
    }
    
    .col-left {
      width: 50%;
      img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
      }
      
      .iframe-wrap{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      
    }
    
    .col-right {
      width: 50%;
      
      .section-title {
        margin-bottom: 20px;
      }
    }
    
    &[data-image-position='right'] {
      flex-direction: row-reverse;
    }
  }
  
  
  @media (max-width: 1366px) {
    padding-top: 90px;
    padding-bottom: 90px;
    .section-subtitle {
      margin-bottom: 90px;
    }
  }
  @media (max-width: 1199px) {
    .section-row {
      align-items: flex-start;
    }
  }
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
    .section-row {
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      .col-left {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
      .col-right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: var(--gap-size);
      }
    }
    .section-subtitle {
      margin-bottom: 60px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    .section-subtitle {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 565px) {
    padding-top: 40px;
    padding-bottom: 40px;
    .section-subtitle {
      margin-bottom: 40px;
    }
  }
}
