.section-news-events {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F9F9F9;
  
  .posts-grid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
    .col-left {
      width: 50%;
      padding-right: calc(var(--gap-size) / 2)
    }
    
    .col-right {
      width: 50%;
      padding-left: calc(var(--gap-size) / 2)
    }
    
    // large Post
    .post-large {
      background-color: var(--color-white);
      --accent-color: var(--color-blue);
      
      &.events {
        --accent-color: var(--color-orange);
      }
      
      &__thumbnail {
        position: relative;
        
        &:after {
          display: block;
          content: "";
          padding-bottom: 50%;
        }
        
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        .tag {
          position: absolute;
          bottom: 0;
          left: 55px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-height: 36px;
          min-width: 95px;
          padding-left: 15px;
          padding-right: 25px;
          text-align: center;
          background-color: var(--accent-color);
          font-size: 18px;
          font-weight: bold;
          color: var(--color-white);
          text-transform: capitalize;
          line-height: 1;
          transform: translateY(50%);
          pointer-events: none;
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        }
      }
      
      &__info {
        padding-left: 55px;
        padding-right: 45px;
        padding-bottom: 37px;
        padding-top: 25px;
        
        .date {
          font-family: var(--font-primary);
          font-size: 14px;
          line-height: 2;
          text-transform: uppercase;
          font-weight: bold;
          color: var(--color-black);
          margin-bottom: 15px;
          display: block;
        }
        
        .title {
          margin-bottom: 15px;
          
          a {
            @include transition;
            
            &:hover {
              color: var(--accent-color);
            }
          }
        }
        
        .permalink {
          margin-top: 25px;
        }
      }
    }
    
    // Small Post
    .post-small {
      margin-bottom: var(--gap-size);
      display: flex;
      justify-content: space-between;
      background-color: var(--color-white);
      --accent-color: var(--color-blue);
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.events  {
        --accent-color: var(--color-orange);
      }
      
      &__thumbnail {
        width: 50%;
        position: relative;
        
        &:after {
          display: block;
          content: "";
          padding-bottom: 58%;
        }
        
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        .tag {
          pointer-events: none;
          position: absolute;
          top: 15px;
          left: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-height: 36px;
          min-width: 95px;
          padding-left: 15px;
          padding-right: 25px;
          text-align: center;
          background-color: var(--accent-color);
          font-size: 18px;
          font-weight: 500;
          color: var(--color-white);
          text-transform: capitalize;
          line-height: 1;
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          padding-bottom: 2px;
        }
        
      }
      
      &__info {
        width: 50%;
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .date {
          font-family: var(--font-primary);
          font-size: 14px;
          line-height: 2;
          text-transform: uppercase;
          font-weight: bold;
          color: var(--color-black);
          margin-bottom: 10px;
          display: block;
        }
        
        .permalink {
          margin-top: 15px;
          margin-bottom: 8px;
          @include transition;
          &:hover{
            color: var(--accent-color);
          }
        }
      }
    }
  }
  
  .buttons-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .col {
      flex: 1;
      
      &:first-child {
        display: flex;
        justify-content: flex-end;
      }
      
      &:last-child {
        display: flex;
        justify-content: flex-start;
      }
    }
    
    .btn {
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }
  
  
  @media (max-width: 1199px) {
    .posts-grid {
      .col-left {
        width: 45%;
      }
      
      .col-right {
        width: 55%;
      }
      
      .post-large{
        &__info{
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 30px;
          padding-top: 30px;
        }
      }
      
      .post-small{
        &__thumbnail{
          width: 35%;
        }
        &__info{
          width: 65%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .posts-grid {
      flex-wrap: wrap;
      .col-left {
        width: 100%;
        padding: 0;
      }
      .col-right{
        padding: 0;
        margin-top: var(--gap-size);
        width: 100%;
      }
    }
    .buttons-wrap{
      .col{
        flex: none;
        width: auto;
      }
    }
  }
  @media (max-width: 565px) {
    .posts-grid {
      .post-large{
        &__info{
          padding-top: 28px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
        }
      }
      .post-small{
        display: flex;
        flex-direction: column;
        &__thumbnail{
          width: 100%;
        }
        &__info{
          width: 100%;
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .buttons-wrap{
      flex-wrap: wrap;
      margin-top: 40px;
      .col{
        width: 100%;
        .btn{
          min-width: 180px;
        }
        &:first-child, &:last-child{
          justify-content: center;
        }
      }
    }
  }
}