.section-gutenberg{
  padding-top: 60px;
  padding-bottom: 120px;
  @media (max-width: 1366px) {
    padding-bottom: 80px;
  }
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
  .post-content{
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}

