.section-content {
  padding-top: 120px;
  padding-bottom: 120px;
  @media (max-width: 1366px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 565px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .section-row {
    display: flex;
    justify-content: space-between;
    margin-left: -35px;
    margin-right: -35px;
    
    .col {
      width: 50%;
      padding-left: 35px;
      padding-right: 35px;
      .col-title {
        margin-bottom: 20px;
      }
    }
  }
  
  .btn-wrap {
    margin-top: 50px;
  }
  
  @media (max-width: 991px) {
    .section-row {
      margin-left: 0;
      margin-right: 0;
      flex-wrap: wrap;
      
      .col {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
      
      .col-right {
        margin-top: calc(var(--gap-size) * 2);
      }
    }
  }
}