.section-team {
  padding-top: 110px;
  padding-bottom: 110px;
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .section-subtitle {
    max-width: 705px;
  }
  
  .team-grid {
    margin-top: 30px;
  }
  
  .team-grid-wrap {
    .team-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--gap-size);
      .team-item {
        width: 100%;
        backface-visibility: hidden;
        position: relative;
        background-color: var(--color-green);
        
        .team-item-link {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 20;
        }
        
        &__inner {
          position: relative;
          overflow: hidden;
          display: block;
          backface-visibility: hidden;
        }
        
        .photo {
          backface-visibility: hidden;
          
          &:after {
            display: block;
            content: "";
            padding-bottom: 125%;
          }
          
          img {
            position: absolute;
            display: block;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
            @include transition;
            transform: scale(1) perspective(0) translateZ(0);
            backface-visibility: hidden;
            z-index: 5;
          }
        }
        
        .info {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          padding: 20px;
          background: linear-gradient(180deg, rgba(255, 255, 255, .0) 69%, rgba(0, 0, 0, .5) 100%);
          z-index: 15;
          
          .name {
            font-family: var(--font-primary);
            font-weight: bold;
            font-size: 24px;
            line-height: 1.32;
            color: var(--color-white);
          }
          
          .position {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: var(--color-white);
          }
        }
        
        &:hover {
          .photo {
            img {
              transform: scale(1.05) perspective(0) translateZ(0);
            }
          }
        }
      }
    }
    
    @media (max-width: 1199px) {
      .team-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 991px) {
      .team-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 767px) {
      .team-grid {
        grid-gap: calc(var(--gap-size) / 2);
      }
    }
    @media (max-width: 565px) {
      .team-grid {
        grid-template-columns: repeat(1, 1fr);
        
        .team-item {
          .photo:after {
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}



