.section-cases {
  padding-top: 100px;
  padding-bottom: 100px;
  .cases-slider__wrap {
    margin-top: 20px;
  }
  .cases-slider {
    .case-item {
      height: 560px;
      position: relative;
      overflow: hidden;
      
      &:after {
        position: absolute;
        display: block;
        content: "";
        background-color: rgba(0, 0, 0, .35);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
      }
      
      &__bg {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        z-index: 1;
        will-change: transform, transition;
        
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          z-index: 1;
        }
      }
      
      .content {
        height: 100%;
        position: relative;
        z-index: 15;
        display: flex;
        align-items: flex-end;
        padding-left: 100px;
        padding-right: 40px;
        padding-bottom: 85px;
        color: var(--color-white);
        
        .case-title {
          color: var(--color-white);
        }
        
        .case-excerpt {
          color: var(--color-white);
        }
      }
      
      .col-left {
        max-width: 615px;
        
        .case-title {
          margin-bottom: 25px;
          max-width: 350px;
        }
      }
      
      .col-right {
        padding-left: 90px;
        
      }
      
      &.swiper-slide-active {
        z-index: 10;
      }
    }
  }
  .cases-slider__tabs {
    position: relative;
    z-index: 15;
    display: inline-flex;
    align-items: center;
    margin-left: 100px;
    transform: translateY(-50%);
    .tab-item {
      height: 40px;
      background-color: var(--color-green-2);
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 6px;
      padding-bottom: 7px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: var(--font-primary);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      color: var(--color-white);
      cursor: pointer;
      transform: skewX(-25deg);
      position: relative;
      margin: 0 -1px;
      
      &:before {
        position: absolute;
        top: 0;
        left: -1px;
        right: -1px;
        bottom: 0;
        width: calc(100% + 2px);
        height: 100%;
        display: block;
        content: "";
        opacity: 0;
        z-index: 6;
      }
      
      span {
        transform: skewX(25deg);
        position: relative;
        z-index: 10;
      }
      
      &:after {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: "";
        width: 1px;
        height: 22px;
        background-color: var(--color-white);
        z-index: 5;
        @include transition;
      }
      
      &.active {
        &:before {
          background-color: var(--color-green);
          opacity: 1;
        }
      }
      
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .cases-slider-pagination{
    display: none;
  }
  @media (max-width: 1366px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 1199px) {
    .cases-slider {
      .case-item {
        height: 480px;
        
        .content {
          padding-bottom: 65px;
          padding-left: 50px;
        }
      }
    }
    .cases-slider__tabs {
      margin-left: 50px;
    }
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
    .cases-slider {
      .case-item {
        display: flex;
        align-items: flex-end;
        
        .content {
          height: auto;
          flex-wrap: wrap;
          padding-bottom: 90px;
          
          .col-right {
            margin-top: 25px;
            padding-left: 0;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 660px) {
    .cases-slider__tabs {
      display: none;
    }
    .cases-slider-pagination {
      margin-top: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        display: block;
        transform: skewX(-25deg);
        background-color: var(--color-green-2);
        opacity: 1;
        border-radius: 0;
        margin-left: 8px;
        margin-right: 8px;
        @include transition;
        &.swiper-pagination-bullet-active {
          background-color: var(--color-green);
        }
      }
    }
    .cases-slider {
      .case-item {
        .content {
          padding-left: 25px;
          padding-right: 25px;
          padding-bottom: 60px;
        }
      }
    }
  }
}
