.section-cta {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-grey);
  
  .section-title {
    max-width: 600px;
    margin-bottom: 25px;
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  
  // CTA Block
  .cta-block {
    width: 100%;
    max-width: 600px;
    background-color: var(--color-white);
    
    .cta-block__inner {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 30px;
      display: flex;
      align-items: center;
    }
    
    .photo {
      margin-right: 30px;
      
      img {
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    
    .title {
      color: var(--color-green);
      margin-bottom: 4px;
    }
    
    .btn-wrap {
      margin-top: 15px;
      
      .btn {
        min-width: 135px;
      }
    }
    
    @media (max-width: 1199px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 767px) {
      .cta-block__inner {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @media (max-width: 565px) {
      .photo {
        margin-bottom: 15px;
      }
      .cta-block__inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
  
}